@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

@font-face {
	font-family: 'Sunydale';
	src: url('C:/Users/capuc/Desktop/How-to-build-a-responsive-website-from-scratch-master/How-to-build-a-responsive-website-from-scratch-master/font/Sunydale Script demo.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h1 {
	margin: 0;
	font-family: 'Sunydale', sans-serif;
	/*font-family: 'Satisfy', cursive;*/
	text-align: center;
	font-size: 4rem;
}

h2 {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	text-align: center;
}


img {
	max-width: 100%;
	height: auto;
}



.container_2 {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}


.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}


.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 16.6666%;
	}
}


/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 100%;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 0 0 .5em;
}

.title-cta_2 {
	margin: 0 0 .5em;
	font-size: 35px;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width:60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #D1B468;
	background-color: #f5f7DC;
	border-color: #D1B468;
}


.button-accent:hover,
.button-accent:focus {
	background: #D1B468;
	color: #f8f6f6;
}

.button-titre {
	margin-top: 10px;
	color: #D1B468;
	background-color: #f5f7DC;
	border-color: #D1B468;
}

.button-titre:hover,
.button-titre:focus {
	background: #D1B468;
	color: #f8f6f6;
}


.button-dark {
	color: #f8f6f6;
	background-color: #D1B468;
	border-color: #D1B468;
}

.button-dark:hover,
.button-dark:focus {
	background: #f5f7DC;
	color: #D1B468;
}

/* Parallax
=================== */

.parallax--bg,
.parallax--box {
	transition: initial;
}
.parallax--box--tittle {
	transition: initial;
	text-shadow: 1px 1px 2px rgb(37, 36, 36);
}


/* header
=================== */

header {
	position: absolute;
	background: #f8fafa;
	bottom : 5;
	left: 0;
	right: 0;
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: #D1B468;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #c09938;
}

@media (min-width:60rem) {
	.logo {
		width: 100px;
		height: 50px;
		margin: 10px;
		float: left;
	}

	nav {
		float: right;
	}
}


/* hero-home
=================== */

.home-hero {
	background-image: url("file:///C:/Users/capuc/Desktop/How-to-build-a-responsive-website-from-scratch-master/How-to-build-a-responsive-website-from-scratch-master/img/image_background.png");
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #D1B468;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 20vh;
	}
}


/* hero-home
=================== */

.home-about-textbox {
	background-color: #f5f7DC;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #c09938;
	outline-offset: -2.5em;
	color: #c09938;
	position: relative;
}

.home-about-textbox h2 {
	color: #c09938;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #f5f7DC;
	padding: 0 .145em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox {
		padding: 5.5em;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url("file:///C:/Users/capuc/Desktop/How-to-build-a-responsive-website-from-scratch-master/How-to-build-a-responsive-website-from-scratch-master/img/253711705_539527953963601_4291548503564482587_n.jpg");
		background-repeat: no-repeat;
		padding-bottom: 10em;
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0,.3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}


}



/* portfolio
=================== */

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 2em;
}

.port-desc p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}

/* SLIDDER AVIS */
.captioned-gallery {
	width: 85%;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 30px;
  }
  
  .slider {
	position: relative;
	width: 500%;
	font-size: 0;
	-webkit-animation: 10s sliding infinite;
			animation: 10s sliding infinite;
	margin: 0 auto; /* Ajout de cette ligne */
  }
  
  @-webkit-keyframes sliding {
	0% {
	  left: 0%;
	}
	20% {
	  left: 0%;
	}
	25% {
	  left: -100%;
	}
	45% {
	  left: -100%;
	}
	50% {
	  left: -200%;
	}
	70% {
	  left: -200%;
	}
	75% {
	  left: -300%;
	}
	95% {
	  left: -300%;
	}
	100% {
	  left: -400%;
	}
  }
  
  @keyframes sliding {
	0% {
	  left: 0%;
	}
	20% {
	  left: 0%;
	}
	25% {
	  left: -100%;
	}
	45% {
	  left: -100%;
	}
	50% {
	  left: -200%;
	}
	70% {
	  left: -200%;
	}
	75% {
	  left: -300%;
	}
	95% {
	  left: -300%;
	}
	100% {
	  left: -400%;
	}
  }
  
  .imgWrapper {
	width: 20%;
	height: auto;
	display: inline-block;
	position: inherit;
  }
  
  .imgWrapper img {
	width: 100%;
	height: auto;
  }
  




/* CTA
=================== */

.cta {
	margin-top: 50px;
	background-color: #f5f7DC;
	padding: 5em 0;
}

.cta_2 {
	background-color: white;
	padding: 5em 0;
}


/* Footer
=================== */

footer {
	background: #424242;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}

footer img {
	width: 50px; /* Ajustez la taille des images selon vos besoins */
	height: 50px;
  }